*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(205, 135, 135);
}

main{
    background-color: aliceblue;
    width: 500 px;
    margin: auto;
    padding: 10 px;
    
}